p {
	font-size: 36px;
}

h2 {
	font-size: 46px;
}

.btn {
	height: 70px;
	width: 300px;
	font-size: 36px;

}

body{
	background-color: #FFDEE9;
	background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
	height: 100%


}

html{
	height:100%;
}
